---
# tasks file for bituls.apt-caching

- name: Create apt config directory
  file:
    path: /etc/apt/apt.conf.d
    state: directory
  when: enable_caching

- name: Set up apt caching
  template:
    src: 01proxy.j2
    dest: /etc/apt/apt.conf.d/01proxy
  when: enable_caching
